<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.marceme.cashtracker">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".BudgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AddBudgetActivity"
                android:parentActivityName=".BudgetActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.marceme.cashtracker.BudgetActivity"/>
        </activity>

        <activity
                android:name=".AddExpenseActivity"
                android:parentActivityName=".BudgetActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.marceme.cashtracker.BudgetActivity"/>
        </activity>

        <activity
                android:name=".TransactionStatementActivity"
                android:parentActivityName=".BudgetActivity"
                android:label="@string/transaction_statement_activity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.marceme.cashtracker.BudgetActivity"/>
        </activity>
    </application>

</manifest>